@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}*/

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img:nth-child(1) {
  float: left;
  width: 75%;
}

img:nth-child(2) {
  float: left;
  width: 25%;
}

img:nth-child(3) {
  float: left;
  width: 33.33%;
}

img:nth-child(4) {
  float: left;
  width: 33.3333%;
}

img:nth-child(5) {
  float: left;
  width: 33.3333%;
}

/*header {
  padding: .5rem 0;
  background-color: #ccc;
  text-align: center;
}

h1 {
  margin: 0 0 .5rem;
  font-size: 1.5rem;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  text-align: left;
}

nav a {
  display: block;
  padding: .5em .75em;
  color: #333;
  text-decoration: none;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}*/

@media only screen and (min-width: 25em) {

img:nth-child(1) {
  float: left;
  width: 100%;
}

img:nth-child(2) {
  display: none;
}

img:nth-child(3) {
  float: left;
  width: 100%;
}

img:nth-child(4) {
  float: left;
  width: 100%;
}

img:nth-child(5) {
  display: none;
}

  /*nav li {
    display: inline-block;
    text-align: center;
  }*/

}

@media only screen and (min-width: 38em) {

  img:nth-child(1) {
    float: left;
    width: 100%;
  }

  img:nth-child(2) {
    float: left;
    width: 66.6666%;
  }

  img:nth-child(3) {
    float: left;
    width: 66.6666%;
  }

  img:nth-child(4) {
    float: left;
    width: 66.6666%;
  }

  img:nth-child(5) {
    float: left;
    width: 66.6666%;
  }

  /*html {
    font-size: 110%;
    line-height: 1.4;
  }*/

}

@media only screen and (min-width: 60em) {

  img:nth-child(1) {
    float: left;
    width: 100%;
  }

  img:nth-child(2) {
    float: left;
    width: 33.3333%;
  }

  img:nth-child(3) {
    float: left;
    width: 33.3333%;
  }

  img:nth-child(4) {
    float: left;
    width: 33.3333%;
  }

  img:nth-child(5) {
    display: none;
  }
  /*html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }*/

}
